{{!-- 3. Crear un parcial “producto” que contenga el template correspondiente a la
presentación de cada producto en el Dashboard y reciba como parámetro el nombre
del producto. --}}

<div class="container">
  {{>Encabezado}}
  <div class="col-md-8 mx-auto">
    <div class="row">
      {{>Product data=products}}
    </div>
  </div>


</div>