{{>menu contacto='contacto'}}

<form action=''>
  <h4>Formulario de contacto</h4>
  <label for=''>Nombre</label>
  <input type='text' />
</form>

{{>card
  img='https://pbs.twimg.com/media/DnTyQV1XoAE0HUk?format=jpg&name=small'
  titulo='Foto de Vegeta'
  comentario='Esto es una foto desde el contact... esto es una prueba desde el contact'
  color='primary'
}}

{{>footer}}
