{{>menu home='home'}}

<h1>Hola mundo</h1>
<p>Elizabeth</p>

{{>card
  img='http://vignette2.wikia.nocookie.net/joke-battles/images/0/09/Goku.png/revision/latest?cb=20151230234609'
  titulo='Foto de Goku'
  comentario='Esto es una foto desde el home... esto es una prueba desde el home'
  color='danger'
}}

{{>footer}}
