{{> header
title="Iniciar Sesión"
}}

<form id="auth-form">
  <div class="form-group">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control w-50 m-auto" name="email"/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control w-50 m-auto" type="password" name="password"/>
    </div>
  </div>
  <button class="btn btn-success mb-3">Ingresar</button>
  <p>¿Aún no tienes cuenta? <a href="/signin">Regístrate</a></p>
</form>